<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body{
            background-color:#3b325f08;
            font-family: 'Poppins';
        }
        .container1 {
            margin: 0px 400px;
         }
        .card{
            background-color: white;
            padding: 10px 20px;
            border-radius: 10px;
            border: 1px solid #AFF2F9;
            box-shadow:0px 0px 5px 1px #3b325f40;
        }
        
        input[type="text" i] {
        padding: 0px;   
        }
                
         input {
             outline: 0;
             border-width: 0 0 2px;
            border-color:#bebdbd; 
        }
        input:focus {
        border-color: #bebdbd
        }
        .form-check {
            margin: 10px 15px;
        }
        .form-check-label{
            margin-left: 10px;
        }
        td{
            color: #3B325F;
            font-size: 16px;
            padding: 0px 8px;
        }
        .btn-primary{
            background-color: rgb(103, 58, 183);
            width: 20%;
        }
        label{
            color: #3B325F;
        }
        p{
            font-weight: 500;
        }

    @media screen and ( max-width: 700px) {
        .container1 {
            margin: 20px 25px;
         }
         td{
            color: #3B325F;
            font-size: 14px;
            padding: 0px 8px;
        }
        input[type=radio] {
            width: 10px;
            height: 10px;
            margin-top: 10px;
        }
        .btn-primary{
            background-color: rgb(103, 58, 183);
            width: 30%;
        }
      
    }
    </style>
</head>
<body>
    
    <div class="container1">
        <div class="row card" style="margin-top: 15px;padding-top: 20px;">
            
                <h1 style="font-size: 36px;color: #3B325F;font-weight: 400;">Feedback Survey</h1>
                <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">Thank you for using GoldLane. We are committed in providing the best services to our customers and hence we would like you to complete a small survey.</p>
                <p style="color: red;font-size: 14px;">* Required</p>
        </div>
        
        <!-- {% include "forms/inputText.html" %} -->
        <!-- Enter some text: <input type="text" name="txt" value="Hello" onchange="myFunction(this.value)"> -->
        <div class="row card" style="margin-top: 20px;padding: 15px 20px;">
            
            <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">Enter Your Email <span style="color: red;margin-left: 0px;">*</span></p>
            <div class="form-group"  style="width: 80%;"> 
                <input type="email" name="0"  id="0" onchange='getEmail(this)' required   style="padding-bottom: 20px;" placeholder="your answer"> <br>
            </div> 
        </div>
        <form action="" method="post">
            {% csrf_token %} 
        {% for question in questions %}
            
        {% if question.question_type == 0 %}
            <div class="row card" style="margin-top: 20px;padding: 30px 20px;">
                {% if question.required %}
                <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">{{question.qusetion_name}} <span style="color: red;margin-left: 0px;">*</span></p>
                {% else %}
                <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">{{question.qusetion_name}} </p>
                {% endif %}
                   {%for choice in question.choices.all%}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{question.question_id}}" onclick="handleClick(this);" value="{{choice.choice_name}}" id="{{choice.choice_name}}">
                        <label class="form-check-label" for="{{choice.choice_name}}">{{choice.choice_name}}</label>
                    </div>
                    {%endfor%}
            </div>
        {%endif%}
        {% if question.question_type == 3 %}
                <div class="row card" style="margin-top: 20px;padding: 15px 20px;">
                    {% if question.required %}
                    <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">{{question.qusetion_name}} <span style="color: red;margin-left: 0px;">*</span></p>
                    <div class="form-group"  style="width: 80%;"> 
                        <input type="text" name="{{question.question_id}}" id="{{question.question_id}}" onchange='getAnswer(this)' required   style="padding-bottom: 20px;" placeholder="your answer"> <br>
                    </div>
                    {% else %}
                    <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">{{question.qusetion_name}} </p>
                    <div class="form-group"  style="width: 80%;"> 
                        <input type="text" name="{{question.question_id}}" id="{{question.question_id}}" onchange='getAnswer(this)'   style="padding-bottom: 20px;" placeholder="your answer"> <br>
                    </div>
                    {% endif %}
                    
                </div>
        {%endif%}
        {% if question.question_type == 1 %}
                <div class="row card" style="margin-top: 20px;padding: 15px 20px;">
                 {% if question.required %}
                <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">{{question.qusetion_name}} <span style="color: red;margin-left: 0px;">*</span></p>
                {% else %}
                <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">{{question.qusetion_name}} </p>
                {% endif %}
                    {%for choice in question.choices.all%}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{question.question_id}}" onclick="handleClick(this);" value="{{choice.choice_name}}" id="{{choice.choice_name}}">
                        <label class="form-check-label" for="{{choice.choice_name}}">{{choice.choice_name}}</label>
                    </div>
                   {%endfor%}
                </div>
        {%endif%}
        {% if question.question_type == 2 %}
            <div class="row card" style="margin-top: 20px;padding: 15px 20px;">
                {% if question.required %}
                <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">{{question.qusetion_name}} <span style="color: red;margin-left: 0px;">*</span></p>
                {% else %}
                <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">{{question.qusetion_name}} </p>
                {% endif %}
                
                <table style="margin-top: 15px;">
                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> Hard</td>
                        <td> <input type="radio" name="{{question.question_id}}" onclick="handleClick(this);" id="1" style="padding-bottom: 20px;"></td>
                        <td> <input type="radio"  name="{{question.question_id}}" onclick="handleClick(this);"  id="2" style="padding-bottom: 20px;"></td>
                        <td> <input type="radio"  name="{{question.question_id}}" onclick="handleClick(this);"  id="3" style="padding-bottom: 20px;"></td>
                        <td> <input type="radio"  name="{{question.question_id}}" onclick="handleClick(this);"  id="4" style="padding-bottom: 20px;"></td>
                        <td> <input type="radio"  name="{{question.question_id}}" onclick="handleClick(this);"  id="5" style="padding-bottom: 20px;"></td>
                        <td> Easy</td>
                    </tr>
                </table>
                
            
            </div>
    {%endif%}
        {%endfor%}
    
        
<!-- 
         <div class="row card" style="margin-top: 15px;padding: 30px 20px;">
            
            <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">What are your major interests related to Gold Investment? <span style="color: red;margin-left: 0px;">*</span></p> 
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">Buy Gold coins/Bars</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">Trade</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">Save and buy Jewellery</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">All the above</label>
            </div>
            
         </div> -->



         <div class="row" style="margin: 20px 0px;">
            <button type="button" onclick="FormSubmit()"  class="btn btn-primary">submit</button>
         </div>
        </form>
    </div>
<!-- end of container -->

<script>

    answer_list=[];
    emailval;
    document.getElementById("email").onchange = function(){getEmail()}
    function getEmail(val){
        console.log(val.value)
        emailval=val.value;
    }

     function handleClick(myRadio) {
      answers={
        id:'',
        answer:'',
        
    };
        const idboolean = answer_list.some(ans => ans.id === myRadio.name);
        if(idboolean===true){
           answer_list.splice(answer_list.findIndex(ans=>ans.id===myRadio.name),1)
     
        }
        answers.id=myRadio.name
        answers.answer=myRadio.id
        answer_list.push(answers)
        console.log(answer_list);
            
    }
    document.getElementById("text").onchange = function() {getAnswer()};
    function getAnswer(y) {
        console.log(y.value)
        console.log(y.name)
        if(y.name===0){
            emailval=y.value
            console.log(emailval)
        }
        answers={
        id:'',
        answer:'',

    };
        
        answers.id=y.name
        answers.answer=y.value
        answer_list.push(answers)
        console.log(answer_list);
    }
     function FormSubmit(){
        console.log('hello')
        var URL="{% url 'FeedbackView' %}"
            var data = {'answers':answer_list,'email':emailval};
            console.log(data);
            $.post(URL, JSON.stringify(data)).then(res=>console.log(res));
            if(answers!=null){
            var url = "{% url 'Response' %}";
                window.location=url
            }
    }
</script>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>