<style type="text/css">
      input[type="text"],
            select.form-control {
            background: transparent;
            border: none;
            border-bottom: 1px solid #bebdbd;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
        }

        input[type="text"]:focus,
            select.form-control:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .card{
            background-color: white;
            padding: 10px 20px;
            border-radius: 10px;
        }
</style>


    <div class="row card" style="margin-top: 15px;padding: 15px 20px;">   
        <p style="color: #3B325F;font-size: 16px;">Email address <span style="color: red;margin-left: 0px;">*</span></p>
        <div class="form-group" style="width: 80%;">  
            <input type="text" name="name" class="form-control" id="name" value="" placeholder="your email">
        </div>
    </div>
     
    <div class="row card" style="margin-top: 15px;padding: 15px 20px;">
        <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">Instances that made our pricing are not reasonable</p>
        <div class="form-group"> 
             <input type="text" name="" id="" style="padding-bottom: 20px;" placeholder="your answer"> <br>
        </div>
    </div>
     
    <div class="row card" style="margin-top: 15px;padding: 15px 20px;">
        <p style="padding-right: 40px;color: #3B325F;font-size: 16px;">Is there any mode of payment you need in while buying?</p>
        <div class="form-group"> 
            <input type="text" name="" id="" style="padding-bottom: 20px;" placeholder="your answer"> <br>
        </div>
    </div>